<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Skogsaas.Legion" version="1.0.6235.26723" targetFramework="net452" />
  <package id="Skogsaas.Legion.RestJson" version="1.0.6235.33628" targetFramework="net452" />
  <package id="Skogsaas.Monolith" version="1.0.6237.16948" targetFramework="net452" />
</packages>